@font-face {
    font-family: BRUSHSCI ;
    src: url(./font/BRUSHSCI.ttf);
}
*{
    direction: ltr;
    font-family: BRUSHSCI;
    box-sizing: border-box;
}
body{
     font-size: 16px;
     margin: 0px;
}
a{
    text-decoration: none;
}